---
import { externalLinks } from '@lib/constants';
import Layout from 'src/layouts/BaseLayout.astro';
---

<Layout
  title="Rami Maalouf"
  class="flex h-full pb-20"
>
  <style>
    p {
      line-height: 2.5rem;
    }
  </style>
  <section
    class="flex flex-col items-center h-full gap-5 mx-auto max-w-sm sm:max-w-lg md:max-w-2xl lg:max-w-3xl xl:max-w-4xl"
  >
    <h1
      class="text-4xl sm:text-5xl xl:text-6xl font-extrabold text-center capitalize pb-1 md:pb-2 lg:pb-3 sm:pt-6 md:pt-8 lg:pt-10"
    >
      About Rami
    </h1>
    <div class="text-lg sm:text-xl lg:text-2xl xl:text-3xl flex flex-col gap-y-8 flex-1 justify-start">
      <h2 class="text-center text-2xl sm:text-3xl xl:text-4xl font-bold pt-1 sm:pt-2 lg:pt-3 xl:pt-5">
        What is your why?
      </h2>
      <p class="">
        Connecting with people is a fundamental part of who I am, and this philosophy seeps into every area of my life.
        Discovering programming was a true blessing as it has become my primary medium for connecting with the world and
        making a difference. I find profound purpose in improving people's health by developing cutting-edge software
        products, drawing heavily on the latest scientific and psychological research. Other mediums include content
        creation in the form of blogs or <a
          href={externalLinks.youtubeSub}
          target="_blank"
          rel="noopener noreferrer"
          class="text-accent hover:underline"
          >videos</a
        >; where I share the unique knowledge I learned from going through unique experiences, whether it's traveling to
        a new country, starting a new job, or exploring a new technology.
      </p>
      <h2 class="text-center text-2xl sm:text-3xl xl:text-4xl font-bold pt-1 sm:pt-2 lg:pt-3 xl:pt-5">
        What are your hobbies?
      </h2>
      <p class="">
        Obviously programming, socializing, <a
          href={externalLinks.storygraph}
          target="_blank"
          rel="noopener noreferrer"
          class="text-accent hover:underline"
          >reading</a
        >, playing all kinds of sports, performing improv and expanding my knowledge in psychology, philosophy, and the
        ever-evolving world of technology. I generally let my curiosity guide me to new experiences and knowledge,
        which, for example, led me to start learning Go and HTMX which I'm lovin so far.
      </p>
      <h2 class="text-center text-2xl sm:text-3xl xl:text-4xl font-bold pt-1 sm:pt-2 lg:pt-3 xl:pt-5">
        What do you enjoy building?
      </h2>
      <p class="">
        What truly drives me is my passion for building impactful software solutions that leverage cutting-edge
        technologies. I'm particularly drawn to the intersection of app/web development and technologies like AI, LLMs
        (Large Language Models), HCI (Human-Computer Interaction), and UX (User Experience). By connecting these realms,
        I aim to create innovative applications that solve complex problems with a focus on designing intuitive and
        delightful user experiences.
      </p>
      <p class="">
        If you're looking for someone who can bridge the gap between app/web development, cutting-edge technologies, and
        user-centric design, all while utilizing the latest scientific and psychological research, I believe I could be
        a valuable addition to your team.
      </p>
      <p class="pt-6">
        You can find more information about me and what I do on my
        <a
          href={externalLinks.github}
          target="_blank"
          rel="noopener noreferrer"
          class="text-accent
            hover:underline"
        >
          GitHub
        </a>
        and
        <a
          href="https://www.linkedin.com/in/rami--maalouf/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-accent hover:underline"
        >
          LinkedIn
        </a>
      </p>
    </div>
  </section>
</Layout>
