---
import ComingSoon from "../../layouts/ComingSoon.astro";
---

<ComingSoon>
  <p class="text-center">
    For now you can find more information about me on{" "}
    <a
      href="https://www.linkedin.com/in/rami--maalouf/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      LinkedIn
    </a>
    and{" "}
    <a
      href="https://github.com/pyscho-baller"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      GitHub
    </a>
  </p>
</ComingSoon>
