---
import ComingSoon from "../../layouts/ComingSoon.astro";
---

<ComingSoon>
  <p class="text-center">
    I'm a passionate explorer who values meaningful connections formed through unique experiences. With a deep-rooted
    belief in balance, I strive to optimize my endeavors, maximizing my experiences in everything I do and everywhere I
    go. My journey is fueled by a diverse range of interests, including programming, socializing, reading, playing
    various sports, performing improv and expanding my knowledge in psychology, philosophy, and the ever-evolving world
    of technology.

    <p class="text-center">
      What truly drives me is my passion for building impactful software solutions that leverage cutting-edge
      technologies. I'm particularly drawn to the intersection of app/web development and transformative fields like AI,
      LLMs (Large Language Models), HCI (Human-Computer Interaction), and UX (User Experience). By connecting these
      realms, I aim to create innovative applications that solve complex problems and enhance user experiences. I thrive
      on the challenge of pushing the boundaries of what's possible and driving positive change through technology.
    </p>
    <p class="text-center flex gap-2 justify-center">
      You can find more information about me on
      <a
        href="https://github.com/pyscho-baller"
        target="_blank"
        rel="noopener noreferrer"
        class="text-cyan-300
      hover:underline"
      >
        GitHub
      </a>
       and
      <a
        href="https://www.linkedin.com/in/rami--maalouf/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-cyan-300 hover:underline"
      >
        LinkedIn
      </a>
    </p>
  </p>
</ComingSoon>
