---
import ComingSoon from "../../components/ComingSoon.astro";
---

<ComingSoon>
  <p>
    You can find my writings on{" "}
    <a
      href="https://www.linkedin.com/in/rami--maalouf/recent-activity/articles/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      LinkedIn
    </a>{" "}
    or on{" "}
    <a
      href="https://medium.com/@ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      Medium
    </a>
    where I share the things I learn through my life experiences and{" "}
    the things I build (like this website or other projects you can find on{" "}
    <a
      href="https://github.com/psycho-baller"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      GitHub
    </a>
    ).
  </p>
</ComingSoon>
