---
import ComingSoon from "../../components/ComingSoon.astro";
---

<ComingSoon>
  <p>
    Will create this page when I start writing blogs. In the meantime, you can
    check out my{" "}
    <a
      href="https://www.youtube.com/@psycho-coder"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
    >
      Youtube channel
    </a>{" "}
    where I share the things I learn through my life experiences and{" "}
    <a
      href="https://github.com/psycho-baller"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-500 hover:underline"
    >
      the things I build.
    </a>
  </p>
</ComingSoon>
