@font-face {
  font-family: 'Modak';
  src: url('/Modak-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.modak {
  /* thick cute */
  font-family: 'Modak', wingdings, fantasy, 'comic sans ms', papyrus, cursive;
}