@font-face {
  font-family: 'Modak';
  src: url('/fonts/Modak-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.modak {
  font-family:
    'Modak',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
