---
import SceneSuspenseWrapper from "@components/home/Hero/SceneSuspenseWrapper";
import Loading from "./Loading.astro";
const props = Astro.props;
---

<section>
  <div class="scene cursor-none">
    <SceneSuspenseWrapper
      client:load
      transition:persist="hero-scene"
      {...props}
    />
  </div>

  <Loading class="loadingPage hidden" />
</section>

<script>
  const scene = document.querySelector(".scene") as HTMLDivElement;
  const loadingPage = document.querySelector(".loadingPage") as HTMLDivElement;
  if (!scene || !loadingPage) {
    throw new Error("Missing scene or loadingPage");
  }
  loadingPage.style.opacity = "1";
  loadingPage.style.display = "block";
  import("@components/home/Hero/SceneSuspenseWrapper").then((module) => {
    scene.style.display = "block";
    setTimeout(() => {
      loadingPage.style.display = "none";
    }, 300);
  });
</script>
