---
import ComingSoon from "@components/ComingSoon.astro";
---

<ComingSoon>
  <p class="text-center">
    For now you can contact me through{" "}
    <a
      href="https://www.linkedin.com/in/rami--maalouf/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      LinkedIn
    </a>
    ,
    <a
      href="https://mail.google.com/mail/u/0/?fs=1&to=rami.rami@ucalgary.ca&su=About...&body=Hey%20Rami,%20....&tf=cm"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      Email
    </a>
    ,
    <a
      href="https://www.instagram.com/psycho.baller/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      Instagram
    </a>
    , or discord (Rami#2782)
  </p>
</ComingSoon>
