---
import ComingSoon from "src/layouts/ComingSoon.astro";
---

<ComingSoon>
  <div class="text-center">
    <p class="">
      For now best way to support me is by donating through my href="https://ko-fi.com/ramimaalouf" target="_blank"
      rel="noopener noreferrer" class="text-cyan-300 hover:underline">Kofi
    </p> page, or <a
      href="https://paypal.me/ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
      >Paypal</a
    >, or my < href="https://github.com/sponsors/psycho-baller" target="_blank" rel="noopener noreferrer"
    class="text-cyan-300 hover:underline">GitHub Sponsors
  </div> page.
</ComingSoon>
<p>
  All donations and profit I get will be put back into improving and growing
  <a
    href="https://youtube.com/@ramimaalouf"
    target="_blank"
    rel="noopener noreferrer"
    class="text-cyan-300 hover:underline"
  >
    my youtube channel
  </a>
  and the <a
    href="https://github.com/psycho-baller"
    target="_blank"
    rel="noopener noreferrer"
    class="text-cyan-300 hover:underline"
  >
    Software I make
  </a>
</p>
