---
import ComingSoon from "src/layouts/ComingSoon.astro";
---

<ComingSoon title="Support Me">
  <p class="text-center pb-2">
    For now best way to support me is by donating through my
    <a
      href="https://ko-fi.com/ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
      >Kofi
    </a>page, or <a
      href="https://paypal.me/ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
      >Paypal</a
    >, or my <a
      href="https://github.com/sponsors/psycho-baller"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
      >GitHub Sponsors
    </a>{" "}page.
  </p>
  <p class="text-center">
    All donations and profit I get will be put back into improving and growing
    <a
      href="https://youtube.com/@ramimaalouf"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      my youtube channel
    </a>
     and the <a
      href="https://github.com/psycho-baller"
      target="_blank"
      rel="noopener noreferrer"
      class="text-cyan-300 hover:underline"
    >
      Software I build
    </a>
  </p>
</ComingSoon>
