---
import ComingSoon from "@components/ComingSoon.astro";
---

<ComingSoon>
  <div class="text-center">
    <p class="">
      For now best way to support me is by donating to my <a
        href="https://ko-fi.com/ramimaalouf"
        target="_blank"
        rel="noopener noreferrer"
        class="text-cyan-300 hover:underline">Kofi</a
      > page or by picking a price for any of the free products I have on
      <a
        href="https://ramimaalouf.gumroad.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-cyan-300 hover:underline">Gumroad</a
      >.
    </p>
    <p>
      All donations and profit I get will be put back into improving and growing
      <a
        href="https://youtube.com/@ramimaalouf"
        target="_blank"
        rel="noopener noreferrer"
        class="text-cyan-300 hover:underline"
      >
        my youtube channel
      </a>
      and the <a
        href="https://github.com/psycho-baller"
        target="_blank"
        rel="noopener noreferrer"
        class="text-cyan-300 hover:underline"
      >
        Softwares I build
      </a>
    </p>
  </div>
</ComingSoon>
