---
import ExternalLinks from "./ExternalLinks.astro";
import HeroScene from "./HeroScene";
---

<section>
  <HeroScene client:load />
  <section class="min-h-screen">
    <ExternalLinks />
  </section>
</section>
