---
import HeroScene from "@components/react/threejs/HeroScene";
const props = Astro.props;
---

<section>
  <HeroScene client:load transition:persist="hero-scene" {...props} />
  <!-- <section class="min-h-screen"></section> -->
</section>
