---
import "@styles/tailwind.css";
import NavLinks from "./NavLinks";
import Hamburger from "./Hamburger.astro";
---

<!-- <header class="flex items-center sm:bg-transparent w-full py-6">
  <div class="flex justify-between w-full sm:opacity-100 mx-auto pl-5 sm:pl-0 items-center z-50"> --><!-- </div> -->
<NavLinks client:idle />
<!-- </header> -->
