---
import Layout from "src/layouts/Layout.astro";
import "../styles/tailwind.css";
---

<Layout title="Rami Maalouf">
  <section
    class="flex flex-col items-center justify-center h-screen gap-5 mx-auto max-w-xs sm:max-w-lg"
  >
    <h1 class="text-4xl font-bold text-center capitalize">
      Page under construction 🚧
    </h1>
    <p class="text-center">If you landed here, have a wonderful day!</p>
    <slot />
  </section>
</Layout>
