---
import "../tailwind.css";
---

<!-- center with tailwind -->
<section class="flex flex-col items-center justify-center h-screen gap-5">
  <h1 class="text-4xl font-bold text-center text-gray-800">This page is under construction</h1>
  <p class="text-center text-gray-600">If you landed here, have a wonderful day!</p>
</section>
