---
import "../tailwind.css";
---

<nav class="flex items-center justify-between flex-wrap sm:bg-transparent p-6 top-0 w-full z-10 sm:opacity-100 absolute">
  <div class="flex items-center flex-shrink-0 mr-6">
    <img src="favicon.svg" alt="Logo" class="h-8" />
  </div>
  <div class="block sm:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
        ><title>Menu</title><path d="M0 3h20v2H0zm0 6h20v2H0zm0 6h20v2H0z"></path></svg
      >
    </button>
  </div>
  <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
    <div class="text-sm sm:flex-grow sm:space-x-4">
      <a href="/blog" class="block capitalize mt-4 sm:inline-block sm:mt-0 hover:text-gray-400"> Blog</a>
      <a href="/about" class="block capitalize mt-4 sm:inline-block sm:mt-0 hover:text-gray-400"> About</a>
      <a href="#contact" class="block capitalize mt-4 sm:inline-block sm:mt-0 hover:text-gray-400"> Contact</a>
      <a href="/resume" class="block capitalize mt-4 sm:inline-block sm:mt-0 hover:text-gray-400"> Resume</a>
    </div>
  </div>
</nav>
