---
import ExternalLinks from "@components/header/ExternalLinks.astro";
import Navbar from "../components/header/Navbar.astro";
import BaseHead from "@layouts/components/BaseHead.astro";
// import BeautifulFog from "@layouts/components/BeautifulFog.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
  fullScreen?: boolean;
  class?: string;
}

const {
  title = "Rami's website",
  description = "Welcome to Rami's website",
  fullScreen = false,
  class: _class,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
    />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-color: #121212;
        color: rgb(216, 247, 249); /* tw: text-cyan-100 */
      }
      .bg-img {
        /* background-image: linear-gradient(
          to bottom,
          hsla(36, 31%, 90%, 0) 0%,
          hsla(36, 31%, 90%, 0.013) 9.7%,
          hsla(36, 31%, 90%, 0.049) 18.1%,
          hsla(36, 31%, 90%, 0.104) 25.5%,
          hsla(36, 31%, 90%, 0.175) 31.9%,
          hsla(36, 31%, 90%, 0.259) 37.7%,
          hsla(36, 31%, 90%, 0.352) 43%,
          hsla(36, 31%, 90%, 0.45) 47.9%,
          hsla(36, 31%, 90%, 0.55) 52.8%,
          hsla(36, 31%, 90%, 0.648) 57.7%,
          hsla(36, 31%, 90%, 0.741) 63%,
          hsla(36, 31%, 90%, 0.825) 68.7%,
          hsla(36, 31%, 90%, 0.896) 75%,
          hsla(36, 31%, 90%, 0.951) 82.2%,
          hsla(36, 31%, 90%, 0.987) 90.5%,
          hsl(36, 31%, 90%) 100%
        ); */
        background-image: url("scene_bg.png");
        background-size: 100% 100%;
      }
      main {
        /* max-width: 80rem; */
        min-height: calc(100vh - 7.5rem);

        /* @media screen and (min-width: 640px) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
  
      @media screen and (min-width: 1024px) {
        margin-left: 2rem;
        margin-right: 2rem;
      } */
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <ViewTransitions />
  </head>
  <body class="">
    <!-- fixed bg -->
    <!-- <div class="absolute inset-0 bg-img">
      <BeautifulFog />
    </div> -->
    <div class={"bg-img fixed -z-10 inset-0" + (fullScreen ? "" : " opacity-10")}>
      {fullScreen ? null : <div class="h-full w-full mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" />}
    </div>

    <!-- fixed components -->
    <div class="fixed z-30 top-0 min-w-full mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <Navbar />
      </div>
    </div>
    <div class="fixed z-30 bottom-0 w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <ExternalLinks />
      </div>
    </div>

    <!-- scrollable content -->
    <div class={"pt-20 pb-10 blur-bg flex mx-auto justify-center max-w-7xl px-4 sm:px-6 lg:px-8" + " " + _class}>
      <main class="flex flex-col">
        <slot />
      </main>
    </div>
  </body>
</html>
