---
import ExternalLinks from "@components/ExternalLinks.astro";
import Navbar from "../components/Navbar.astro";
import BaseHead from "@components/BaseHead.astro";

export interface Props {
  title: string;
  description?: string;
  fullScreen?: boolean;
  class?: string;
}

const { title, description = "Welcome to Rami's website", fullScreen = false, class: _class } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
    />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #121212;
        color: rgb(216, 247, 249); /* tw: text-cyan-100 */
      }
      .bg-img {
        background-image: url("/scene_bg.png");
        background-size: 100% 100%;
      }
      main {
        margin-left: auto;
        margin-right: auto;
        /* max-width: 80rem; */
        min-height: calc(100vh - 7.5rem);

        /* @media screen and (min-width: 640px) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
  
      @media screen and (min-width: 1024px) {
        margin-left: 2rem;
        margin-right: 2rem;
      } */
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
          Courier New, monospace;
      }
    </style>
  </head>
  <body class="">
    <!-- fixed bg -->
    <div class={"bg-img fixed -z-10 inset-0" + (fullScreen ? "" : " opacity-10")}>
      {fullScreen ? null : <div class="h-full w-full mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" />}
    </div>

    <!-- fixed components -->
    <div class="fixed z-30 top-0 min-w-full mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <Navbar />
      </div>
    </div>
    <div class="fixed z-30 bottom-0 w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <ExternalLinks />
      </div>
    </div>

    <!-- scrollable content -->
    <div class={"pt-20 pb-10 blur-bg mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" + " " + _class}>
      <main class="mx-auto max-w-2xl lg:max-w-5xl">
        <slot />
      </main>
    </div>
  </body>
</html>
