---
import ExternalLinks from "@components/home/ExternalLinks.astro";
import Navbar from "../components/Navbar.astro";
import BaseHead from "@components/BaseHead.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Welcome to Rami's website" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
    />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #121212;
        color: rgb(216, 247, 249); /* tw: text-cyan-100 */
      }
      .page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/scene_bg.png");
        background-size: 100% 100%;
      }
      main {
        margin-left: auto;
        margin-right: auto;
        max-width: 80rem;

        /* @media screen and (min-width: 640px) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
  
      @media screen and (min-width: 1024px) {
        margin-left: 2rem;
        margin-right: 2rem;
      } */
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
          Courier New, monospace;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <div class="page">
      <main>
        <slot />
      </main>
    </div>
    <ExternalLinks />
  </body>
</html>
