---
import Layout from "src/layouts/BaseLayout.astro";
import "../styles/tailwind.css";
import HeroScene from "@components/react/threejs/HeroScene";
---

<Layout
  title="Rami Maalouf"
  class="flex h-full"
>
<section
  class="flex gap-y-10 flex-col items-center justify-between h-full gap-5 mx-auto max-w-xs sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl"
>
<h1 class="text-4xl sm:text-5xl xl:text-6xl font-bold text-center capitalize mb-2 sm:mb-3 md:mb-4 lg:mb-5 xl:mb-6 mt-10">
  Page under construction 🚧
</h1>

    <div class="text-lg sm:text-xl md:text-2xl xl:text-4xl flex flex-col justify-center">
      <slot />
    </div>
    <div class="relative h-full w-screen">
      <HeroScene client:load hideCallback hideTitle />
    </div>
    <p class="text-center my-6">If you landed here, have a wonderful day!</p>
  </section>
</Layout>
